<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span class="sr-only"></span>
            Cadastros
        </h6>  
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="locacoesList">
                <span class="feather icon-file-text"></span>
                Locações
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="imoveisList">
                <span class="feather icon-home"></span>
                Imóveis
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="locatariosList">
                <span class="feather icon-users"></span>
                Locatários
            </a>
        </li>
    </ul>    
</div>